@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 15%;

    --card: 0 0% 100%;
    --card-foreground: 210 40% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 15%;

    --primary: 214 100% 11%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 17% 92%;
    --secondary-foreground: 214 100% 11%;

    --muted: 210 17% 92%;
    --muted-foreground: 215 16% 47%;

    --accent: 24 100% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 24 100% 56%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 214 100% 11%;
    --foreground: 0 0% 100%;

    --card: 214 80% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 214 80% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 214 100% 11%;

    --secondary: 214 60% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 214 60% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 24 100% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 60% 20%;
    --input: 214 60% 20%;
    --ring: 24 100% 56%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
